DATABASE_URL="postgresql://postgres:postgres@postgres:5432/gptar?schema=public"
PORT="3001"
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_URL="redis://redis:6379"
JWT_SECRET="super-secret-change-me-please"
DOLPHIN_API_BASE=http://host.docker.internal:3001
# 添加你的代理等配置
